@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('node_modules/normalize.css/normalize.css');
*{
    font-family: 'Oswald', sans-serif;
}

/*Scroll Personalized*/

body::-webkit-scrollbar{
    width: 15px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb{
    background-color: #FFFF00;
    border-radius: 5px;
}

/*Nav Styles*/

header .menu{
    background-color: #4b4b4b;
    height: 50px;
    padding: 5px;
    position: fixed;
    width: 100%;
}

header .menu ul{
    margin: auto;
    width: 50vw;
    text-align: right;
}

header .menu ul li{
    display: inline-block;
    margin: 10px;
    text-align: center;
}

header .menu ul li a{
    text-decoration: none;
    color: #FFF;
    padding: 2px;
}

header .menu ul li a:hover{
    color: #FFFF00;
    cursor: pointer;
    font-size: 20px;
    transition: .2s;
}

.line-nav{
    border: 2px solid #FFFF00;
}


@media screen and (max-width:320px){

}

@media screen and (max-width:640px){

}

@media screen and (max-width:800px){

}


@media screen and (max-width:1024px){

}